 /* changed the background to a light grey */
 
 body {
     background-color: #efefef;
     text-align: center;
     /* we imported roboto font from google fonts */
     font-family: 'Roboto', Arial, Helvetica, sans-serif;
 }
 
 .container {
     width: 1024px;
     /* top, left, bottom, right (clockwise ) */
     /* margin: 0 auto 0 auto; */
     /* if top and bottom and left and right are same, the below works */
     margin: 0 auto;
     text-align: left;
     border: 1px solid #c0c0c0;
     padding: 10px;
     border-radius: 10px;
 }
 
 form {
     margin: 20px;
 }
 /* we changed the first name box to red */
 
 #first_name {
     background-color: red;
     color: white;
 }
 /* this is for the <ul> with the id #nav*/
 
 #nav {
     margin: 0;
     padding: 0;
     list-style: none;
 }
 /* this is for all <li> inside the nav ul */
 
 #nav li {
     list-style-type: none;
     float: left;
 }
 /* all link tags inside the li tags of the nav */
 
 #nav li a {
     padding: 10px;
     margin: 1px;
     border: 1px solid #c0c0c0;
     background: #efefef;
 }
 
 #nav li a:hover {
     background-color: #ff0000;
     color: #fff;
 }
 /* clears floated items */
 
 .clear {
     clear: both;
 }
 
 .container #first_form {
     background-color: #fff;
 }
 
 #album_container {
     margin: 25px 10px 10px 10px;
 }
 
 #album_container div {
     /* this adds styling to all divs inside album container */
     padding: 10px;
     float: left;
     min-height: 300px;
     border: 1px solid #c0c0c0;
 }
 
 #album_container h1 {
     margin: 0px 0px 10px 0px;
     font-weight: bolder;
 }
 
 #album_container div.left-album {
     width: 250px;
     text-align: center;
 }
 
 #album_container div.right-album {
     width: 650px;
 }