 /* changed the background to a light grey */
 
 body {
     background-color: #efefef;
     /* we imported roboto font from google fonts */
     font-family: 'Roboto', Arial, Helvetica, sans-serif;
 }
 
 form {
     margin: 20px;
 }
 /* clears floated items */
 
 .clear {
     clear: both;
 }
 
 .container #first_form {
     background-color: #fff;
 }
 
 #products_add {
     margin-top: 15px;
 }
 /* product container styles -*/
 
 #products_container {
     margin-top: 25px;
     width: 100%;
 }
 
 #products_container #products_list {
     margin-top: 25px;
     display: table;
     width: 100%;
     background-color: #efefef;
     border: 1px solid #c0c0c0;
 }
 /* product container cells */
 
 #products_container #products_list td {
     vertical-align: top;
     border: 1px solid #c0c0c0;
     background-color: #fff;
     padding: 10px;
 }
 /* list images */
 
 #products_container #products_list td img {
     max-height: 75px;
 }
 /* album container,  hidden by default */
 
 #album_container {
     margin: 25px 10px 10px 10px;
     display: none;
 }
 
 #album_container div {
     /* this adds styling to all divs inside album container */
     padding: 10px;
     float: left;
     min-height: 300px;
     border: 1px solid #c0c0c0;
 }
 
 #album_container h1 {
     margin: 0px 0px 10px 0px;
     font-weight: bolder;
 }
 
 #album_container div.left-album {
     width: 250px;
     text-align: center;
 }
 
 #album_container div.right-album {
     width: 650px;
 }
 
 #cart {
     position: absolute;
     bottom: 0;
     right: 0;
     width: 170px;
     padding: 20px;
     margin: 15px;
     border: 1px solid #c0c0c0;
     background: #efefef;
     border-radius: 10px;
 }
 
 .hidden {
     display: none;
 }